.error {
  border: 2px solid red;
}
.btn-wrap {
  width: 80%;
  background-color: #A1B92E;
  height: 40px;
  border-radius: 40px;
  margin-left: 10px;
}
.btn-wrap:hover {
  background-color: #8c9d4f;
}
