<ul *ngIf="airports; else noAirports">
  <li class="list-item" *ngFor="let airport of airports; let i = index">
    <div>
      <div class="input__wrapper">
        <input
          *ngIf="airport.id === selectedId; else elseCodeBlock"
          type="text"
          [(ngModel)]="airport.code"
          placeholder="Код аэропорта"
        >
      </div>
      <ng-template #elseCodeBlock>
        <p  class="description">Код: {{airport.code | uppercase}}</p>
      </ng-template>
      <div class="input__wrapper">
        <input
          *ngIf="airport.id === selectedId; else elseTitleBlock"
          type="text"
          [(ngModel)]="airport.title"
          placeholder="Название аэропорта"
        >
      </div>
      <ng-template #elseTitleBlock>
        <p class="description">Название: {{airport.title}}</p>
      </ng-template>
      <div class="input__wrapper">
        <input
          *ngIf="airport.id === selectedId; else elseAddressBlock"
          type="text"
          [(ngModel)]="airport.address"
          placeholder="Адрес аэропорта"
        >
      </div>
      <ng-template #elseAddressBlock>
        <p class="description">Адрес: {{airport.address}}</p>
      </ng-template>
      <div>
        Приписанные самолеты
        <p class="to-ports" *ngFor="let aircraft of aircrafts; let i = index">
      <span *ngIf="airport.code.toLowerCase() === aircraft.airport.toLowerCase()">
        {{aircraft.code | uppercase}}, {{aircraft.num}}, {{aircraft.type}}, {{aircraft.man}}-{{aircraft.model}}
      </span>
        </p>
      </div>
    </div>

    <div class="btns-wrap">
      <div class="btn-wrap edit">
        <app-btn-cmp (buttonClick)="edit(airport)">
          {{ airport.id === selectedId ? 'Сохранить' : 'Изменить' }}
        </app-btn-cmp>
      </div>
      <div class="btn-wrap delete">
        <app-btn-cmp (buttonClick)="delete(airport)">
          Удалить
        </app-btn-cmp>
      </div>
    </div>

  </li>
  <div class="airports-form">
    <input
      (input)="validInput()"
      [ngClass]="{'error': noText, 'inp': true}"
      type="text"
      placeholder="Код аэропорта..."
      [(ngModel)]="airportCode"
    >
    <input
      (input)="validInput()"
      [ngClass]="{'error': noText, 'inp': true}"
      type="text"
      placeholder="Название аэропорта..."
      [(ngModel)]="airportTitle"
    >
    <input
      (input)="validInput()"
      [ngClass]="{'error': noText, 'inp': true}"
      type="text"
      placeholder="Адрес аэропорта..."
      [(ngModel)]="airportAddress"
    >
    <div class="btn-wrap add-airport">
      <app-btn-cmp (buttonClick)="addAirport()">
        Добавить аэропорт
      </app-btn-cmp>
    </div>
  </div>
</ul>

<ng-template #noAirports>
  <p style="text-align: center;">Добавьте аэропорт</p>
  <button class="add" (click)="addAirport()">Добавить аэропорт</button>
</ng-template>
