* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
ul {
  list-style: none;
}
.list-item {
  margin: 20px 0;
  background-color: #FFCF40;
  width: 80%;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.btns-wrap {
  margin-top: 10px;
  text-align: end;
}
.description {
  margin: 5px 0;
}
.inp {
  border: 2px solid #A1B92E;
  border-radius: 20px;
  display: block;
  width: 80%;
  height: 30px;
  margin: 10px 0;
  padding-left: 10px;
  outline: none;
  font-size: 14px;
}
